*{
    padding: 0;
    margin: 0;
    
}

:root{
    --color_bg: #060606;
    --color_header: #16263f;
    --color_text: #b0d8e5;
    --color_04: #7da1d9;
    --color_05: #466492;
}
header{
    background-color: rgb(18, 18, 61);
    color:#7da1d9;
    padding: 60px;
    height: 15vh;
    font-size: 50px;
    font-family: sans-serif;
    font-style: italic;
}
header h2{
    font-size: 50px;
    padding-top: 25px;
}
main{
    font-family: sans-serif;
    background-color: rgb(0, 2, 35);
}
main h1{
    color: #7da1d9;
    padding-left: 4vw;
    padding-bottom: 40px;
    padding-top: 40px;
    font-style: italic;
}
main p{
    font-size: 25px;
    color:white ;
    padding-left: 4vw;
    padding-bottom: 40px;

}
.agradecimento{
    background-color: var(--color_bg);
    height: 13vh;
    
    
    
}
.agradecimento h3{
    color: #7da1d9;
    padding-left: 4vw;
    font-size: 30px;
    padding-top: 40px;
    font-style: italic;
}

footer {
    font-family: sans-serif;
	background-color: var(--color_header);
	color: var(--color_text);
	padding: 40px;
}

footer ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

footer ul li {
	font-size: large;
}

footer ul li a {
	color: var(--color_04);
	text-decoration: none;
	transition: 0.3s;
}

footer ul li a:hover {
	color: var(--color_05);
	transition: 0.3s;
}